<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CELLFONT GENERATOR</title>
    <link rel="stylesheet" href="https://unpkg.com/intro.js/minified/introjs.min.css">
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <table class="main-table">
        <!-- Fixed Row -->

        <!-- Header row-->
        <tr>
          <th class="empty" v-for="_ in Array(10)">&nbsp;</td>
          <th class="empty">C</th>
          <th>E</th>
          <th>L</th>
          <th>L</th>
          <th
            class="resizable"
            :style="{ width: columnWidths[0] + 'px' }"
            @mouseDown="startDraggingColumn(0)"
          >
            F
          </th>
          <th
            class="resizable"
            :style="{ width: columnWidths[1] + 'px' }"
            @mouseDown="startDraggingColumn(1)"
          >
            O
          </th>
          <th
            class="resizable"
            :style="{ width: columnWidths[2] + 'px' }"
            @mouseDown="startDraggingColumn(2)"
          >
            N
          </th>
          <th
            class="resizable"
            :style="{ width: columnWidths[3] + 'px' }"
            @mouseDown="startDraggingColumn(3)"
          >
            T
          </th>
          <th
            class="resizable"
            :style="{ width: columnWidths[4] + 'px' }"
            @mouseDown="startDraggingColumn(4)"
          >

          </th>

          <th colspan="2" id="randomizeButton" class="double" @click="randomizeEverything">
            RANDOMIZE
          </th>
          <th colspan="2" id="exportButton" class="double" @click="exportFont">EXPORT</th>
          <th class="empty" v-for="_ in Array(10)">&nbsp;</td>
        </tr>

        <!-- Empty rows-->
        <tr v-for="_ in Array(10)">
          <td class="empty" v-for="_ in Array(33)">&nbsp;</td>
        </tr>

        <!-- Font rows-->
        <tr
          v-for="(row, rowIndex) in rows"
          :style="{ height: rowHeights[rowIndex] + 'px', lineHeight: rowHeights[rowIndex] + 'px' }"
        >
          <td class="empty" v-for="_ in Array(10)">&nbsp;</td>
          <td class="empty" v-for="_ in Array(4)">&nbsp;</td>
          <td
            v-for="(cell, columnIndex) in row"
            :style="{ width: columnWidths[columnIndex] + 'px', backgroundColor: cell === '#' ? 'red' : 'white' }"
          ></td>
          <td class="empty" v-for="_ in Array(4)">&nbsp;</td>
          <td class="empty" v-for="_ in Array(10)">&nbsp;</td>
        </tr>

        <!-- Empty rows-->
        <tr v-for="_ in Array(10)">
          <td class="empty" v-for="_ in Array(33)">&nbsp;</td>
        </tr>

        <!-- Button row-->
        <tr>
          <td class="empty" v-for="_ in Array(10)">&nbsp;</td>
          <td :class="{ active: currentLetter === 'A' }" @click="currentLetter = 'A'">A</td>
          <td :class="{ active: currentLetter === 'B' }" @click="currentLetter = 'B'">B</td>
          <td :class="{ active: currentLetter === 'C' }" @click="currentLetter = 'C'">C</td>
          <td :class="{ active: currentLetter === 'D' }" @click="currentLetter = 'D'">D</td>
          <td :class="{ active: currentLetter === 'E' }" @click="currentLetter = 'E'">E</td>
          <td :class="{ active: currentLetter === 'F' }" @click="currentLetter = 'F'">F</td>
          <td :class="{ active: currentLetter === 'G' }" @click="currentLetter = 'G'">G</td>
          <td :class="{ active: currentLetter === 'H' }" @click="currentLetter = 'H'">H</td>
          <td :class="{ active: currentLetter === 'I' }" @click="currentLetter = 'I'">I</td>
          <td :class="{ active: currentLetter === 'J' }" @click="currentLetter = 'J'">J</td>
          <td :class="{ active: currentLetter === 'K' }" @click="currentLetter = 'K'">K</td>
          <td :class="{ active: currentLetter === 'L' }" @click="currentLetter = 'L'">L</td>
          <td :class="{ active: currentLetter === 'M' }" @click="currentLetter = 'M'">M</td>
          <td class="empty" v-for="_ in Array(10)">&nbsp;</td>
        </tr>

        <!-- Button row-->
        <tr>
          <td class="empty" v-for="_ in Array(10)">&nbsp;</td>
          <td :class="{ active: currentLetter === 'N' }" @click="currentLetter = 'N'">N</td>
          <td :class="{ active: currentLetter === 'O' }" @click="currentLetter = 'O'">O</td>
          <td :class="{ active: currentLetter === 'P' }" @click="currentLetter = 'P'">P</td>
          <td :class="{ active: currentLetter === 'Q' }" @click="currentLetter = 'Q'">Q</td>
          <td :class="{ active: currentLetter === 'R' }" @click="currentLetter = 'R'">R</td>
          <td :class="{ active: currentLetter === 'S' }" @click="currentLetter = 'S'">S</td>
          <td :class="{ active: currentLetter === 'T' }" @click="currentLetter = 'T'">T</td>
          <td :class="{ active: currentLetter === 'U' }" @click="currentLetter = 'U'">U</td>
          <td :class="{ active: currentLetter === 'V' }" @click="currentLetter = 'V'">V</td>
          <td :class="{ active: currentLetter === 'W' }" @click="currentLetter = 'W'">W</td>
          <td :class="{ active: currentLetter === 'X' }" @click="currentLetter = 'X'">X</td>
          <td :class="{ active: currentLetter === 'Y' }" @click="currentLetter = 'Y'">Y</td>
          <td :class="{ active: currentLetter === 'Z' }" @click="currentLetter = 'Z'">Z</td>
          <td class="empty" v-for="_ in Array(10)">&nbsp;</td>
        </tr>

        <!-- Button row-->
        <tr>
          <td class="empty" v-for="_ in Array(10)">&nbsp;</td>
          <td :class="{ active: currentLetter === 'zero' }" @click="currentLetter = 'zero'">0</td>
          <td :class="{ active: currentLetter === 'one' }" @click="currentLetter = 'one'">1</td>
          <td :class="{ active: currentLetter === 'two' }" @click="currentLetter = 'two'">2</td>
          <td :class="{ active: currentLetter === 'three' }" @click="currentLetter = 'three'">3</td>
          <td :class="{ active: currentLetter === 'four' }" @click="currentLetter = 'four'">4</td>
          <td :class="{ active: currentLetter === 'five' }" @click="currentLetter = 'five'">5</td>
          <td :class="{ active: currentLetter === 'six' }" @click="currentLetter = 'six'">6</td>
          <td :class="{ active: currentLetter === 'seven' }" @click="currentLetter = 'seven'">7</td>
          <td :class="{ active: currentLetter === 'eight' }" @click="currentLetter = 'eight'">8</td>
          <td :class="{ active: currentLetter === 'nine' }" @click="currentLetter = 'nine'">9</td>
          <td :class="{ active: currentLetter === 'question' }" @click="currentLetter = 'question'">?</td>
          <td :class="{ active: currentLetter === 'exclam' }" @click="currentLetter = 'exclam'">!</td>
          <td :class="{ active: currentLetter === 'period' }" @click="currentLetter = 'period'">.</td>
          <td class="empty" v-for="_ in Array(10)">&nbsp;</td>
        </tr>

        <!-- Empty rows-->
        <tr v-for="_ in Array(50)">
          <td class="empty" v-for="_ in Array(33)">&nbsp;</td>
        </tr>
      </table>

      <table class="row-header-table">
        <!-- header row-->
        <tr>
          <th class="empty">&nbsp;</td>
        </tr>
        <!-- spacing after header row-->
        <tr v-for="_ in Array(10)">
          <td class="empty">&nbsp;</td>
        </tr>
        <!-- font rows-->
        <tr
          v-for="(row, rowIndex) in rows"
          class="resizable-rows"
          :style="{ height: rowHeights[rowIndex] + 'px', lineHeight: rowHeights[rowIndex] + 'px' }"
          @mouseDown="startDraggingRow(rowIndex)"
        >
          <td class="empty resizable">&nbsp;</td>
        </tr>

        <!-- Empty rows after font-->
        <tr v-for="_ in Array(10)">
          <td class="empty">&nbsp;</td>
        </tr>

        <!-- button rows after font-->
        <tr v-for="_ in Array(3)">
          <td class="empty">&nbsp;</td>
        </tr>

        <!-- Empty rows after buttons-->
        <tr v-for="_ in Array(50)">
          <td class="empty">&nbsp;</td>
        </tr>
      </table>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/intro.js/minified/intro.min.js"></script>
    <script src="https://unpkg.com/opentype.js@1.3.3/dist/opentype.js"></script>
    <script src="font.js"></script>
    <script src="generator.js"></script>
  </body>
</html>
